@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  color: #333;
}

html, body, #root, .App {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: orangered;
}

.main {
  flex: 1;
  overflow: hidden;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
}

.home .left {
  flex-shrink: 0;
  width: 80px;
  border-right: 1px solid #ccc;
}

.home .left span {
  height: 45px;
  line-height: 45px;
  display: block;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.home .right {
  flex: 1;
  background: #eee;
}

.home .right .rightTo {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
  margin-bottom: 10px;
}

.home .right dl {
  display: flex;
  background: #fff;
  margin-bottom: 10px;
}

.home .right dl dt {
  width: 80px;
}

.home .right dl dt img {
  width: 100%;
}

.home .right dl dd {
  flex: 1;
}

.home .right dl dd h4 {
  width: 140px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.home .right dl dd h5 {
  font-size: 12px;
  color: lightgreen;
}

.home .right dl dd span {
  display: inline-block;
  float: right;
  font-size: 12px;
  padding: 5px;
}

.shopcar {
  width: 100%;
  height: 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.shopcar .checkall {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #fff;
  margin-bottom: 10px;
}

.shopcar .checkall a {
  float: right;
}

.shopcar .shoplist {
  flex: 1;
  overflow: auto;
}

.shopcar .shoplist .shopcont {
  width: 100%;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 0 5px;
  margin-bottom: 10px;
  position: relative;
}

.shopcar .shoplist .shopcont dl {
  display: flex;
  width: 100%;
  height: 100%;
  background: #fff;
}

.shopcar .shoplist .shopcont dl dt {
  width: 80px;
}

.shopcar .shoplist .shopcont dl dt img {
  width: 100%;
}

.shopcar .shoplist .shopcont dl dd {
  flex: 1;
  padding-left: 10px;
}

.shopcar .shoplist .shopcont dl dd h4 {
  width: 180px;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shopcar .shoplist .shopcont dl dd h5 {
  font-size: 12px;
  color: lightgreen;
}

.shopcar .shoplist .computed {
  width: 80px;
  border: 1px solid orangered;
  position: absolute;
  right: 5px;
  bottom: 5px;
  display: flex;
}

.shopcar .shoplist .computed .min, .shopcar .shoplist .computed .add {
  width: 20px;
  text-align: center;
}

.shopcar .shoplist .computed .count {
  flex: 1;
  text-align: center;
}

.shopcar .number {
  width: 100%;
  height: 45px;
  line-height: 45px;
  background: #fff;
}

.detail {
  width: 100%;
  height: 100%;
  background: #eee;
  display: flex;
  flex-direction: column;
}

.detail .detailTo {
  width: 100%;
  height: 45px;
  line-height: 45px;
  text-indent: 10px;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

.detail .detailTo a {
  font-family: '宋体';
  font-weight: 800;
}

.detail .detailCont {
  width: 100%;
  flex: 1;
  overflow: auto;
}

.detail .detailCont dl {
  width: 100%;
}

.detail .detailCont dl dt {
  width: 100%;
  height: auto;
}

.detail .detailCont dl dt img {
  width: 100%;
}

.detail .detailCont dl dd h4 {
  width: 100%;
}

.detail .detailCont dl dd h5 {
  color: #e4393c;
}

.act {
  color: orangered;
  border-left: 2px solid orangered;
}
